@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
  background: #EEF7FF;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #EEF7FF 0%, #F7FBFF 100%);
  min-height: 100vh;
}
body::before{
content:"";
position:fixed;
width:420px;
height:420px;
background:#DCEEFF;
border-radius:50%;
top:-120px;
left:-120px;
filter:blur(120px);
z-index:-1;
}

body::after{
content:"";
position:fixed;
width:350px;
height:350px;
background:#E7DDFF;
border-radius:50%;
right:-120px;
bottom:-120px;
filter:blur(120px);
z-index:-1;
}